.header-back{
  display: flex;
  width : 100%;
  height : 700px;
  background: linear-gradient(90deg, #E2F1DA 0%, #D4FBF7 100%);
}

.header{
    display: flex;
    Stroke: Solid
    justify-content:space-between;
    align-items:center;
}

.t1{
  color:#6A6B70;
  width:500px;
  font-size: 70px;
  margin-left:20%;
}

.imgfamily{
  height:80%;
  padding-top:3%;
  padding-left:20%;
}

.lifeposes{
  display:flex;
   justify-content:space-between;
   align-items:center;
}

.chooselifepos{
  font-size:45px;
  padding-left:20%;
  padding-top:40px;
}

.mid{
  display: flex;
  align-items:center;
  padding-left:15%;
  padding-top:20px;
}

.tlifepos{
  padding-left:5%;
  
}

.lifepos{
  margin-left:5%;
  width:20%;
  font-size:26px;
  height:375px;
  background-color:#F0F6F4;
}

.more{
  font-size:16px;
  padding-left:5%;
}

.uppos{
  height:200px;
  padding-left:-5;
  background-color:#DBF3EB
}

.imgpos{
  height:180px;
  padding-left:25%;
  padding-top:5%;
}

.WIP{
  text-align:center;
  padding-top:100px;
}

.bot{
  width:100%;
  height:200px;
  background: linear-gradient(90deg, #E2F1DA 0%, #D4FBF7 100%);
 
}

.tbot1{
  font-size:12px;
  padding-top:60px;
  text-align:center;
}

.tbot2{
  font-size:12px;
  text-align:center;
}
